.subtitle {
  color: aqua;
}

.bg-img {
  background-image: url("https://cdn.nba.com/teams/uploads/sites/1610612755/2023/04/Playoff-Ticket-On-SaleLandingPage-Banner-2000x450-Toyota-v2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-text {
  margin-top: 200px;
}

@media only screen and (max-width: 580px) {
  .bg-img {
    background-repeat: no-repeat;
  }
  /* .hero-body {
    height: 600px;
  } */
}
